html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'League Spartan', 'League Spartan Semi Bold';
    color: #444;
    background: #fff;
    overflow: hidden;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}