.loader {
  display: flex;
  justify-content: center;
  position: absolute;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  background-color: #0b0b0b;
  z-index: 2;
  justify-content: center;
  top: 0;
}

.loader-end {
  height: 0;
  transition: height .7s;
  transition-delay: .7s;

  .loader-container {
    opacity: 0;
    transition: opacity .3s;

    img {
      opacity: 0;
      transition: opacity 0s;
      transition-delay: 3s;
    }
  }
} 

.loader-container {
  width: 60px;
  height: 60px;
  margin: 0;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.square {
  animation: change 2s infinite;
  background-color: #0b0b0b;
  float: left;
  height: 12px;
  margin: 4px;
  width: 12px;
  outline: 5px solid #0b0b0b;
}

.square.top {
  animation-delay: 0.25s;
}

.square.topright {
  animation-delay: 0.5s;
}

.square.left {
  animation-delay: 1.75s;
}

.square.right {
  animation-delay: 0.75s;
}

.square.bottomleft {
  animation-delay: 1.5s;
}

.square.bottom {
  animation-delay: 1.25s;
}

.square.bottomright {
  animation-delay: 1s;
}

.spacer {
  background-color: none;
  float: left;
  height: 12px;
  margin: 4px;
  width: 12px;
}

@keyframes change {
  0% {
    transform: scale(1);
    animation-timing-function: linear;
    outline-offset: 0;
    border-radius: 0;
    background: hotpink;
  }
 
  12.5% {
    transform: scale(1.4);
    animation-timing-function: linear;
    background-color: #33A2D1;
    outline-offset: -4px;
    border-radius: 3px;
    background: hotpink;
  }
  
  15% {
    outline-offset: 0;
  }
  
  25% {
    transform: scale(1);
    animation-timing-function: linear;
    outline-offset: 0;
    border-radius: 0;
    background: deepskyblue;
  }
}